section {
    padding: 50px 0;
}
/* #footer{
    position: relative;
} */


body {
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 400;
    background-color: #eee;
}

h1 {
    font-size: 200%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
}



.timeline {
    position: relative;
}

.timeline::before {
    content: "";
    background: #C5CAE9;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-item {
    width: 100%;
    margin-bottom: 70px;
}

.timeline-item:nth-child(even) .timeline-content {
    float: right;
    padding: 40px 30px 10px 30px;
}

.timeline-item:nth-child(even) .timeline-content .date {
    right: auto;
    left: 0;
}

.timeline-item:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
}

.timeline-item::after {
    content: "";
    display: block;
    clear: both;
}

.timeline-content{
    position: relative;
    width: 45%;
    padding: 10px 30px;
    border-radius: 15px;
    background: #cd92ff;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
     /* Center the text inside the card */
    text-align: justify;
    
    
}

.timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
    width: 30px;
    height: 30px;
    background: #00ff62;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -15px;
}

.timeline-card {
    padding: 0 !important;
}

.timeline-card p {
    padding: 0 20px;
}

.timeline-card a {
    margin-left: 20px;
}

.timeline-img-header {
    position: relative;
    margin-bottom: 20px;
}

.timeline-img-header h2 {
    color: #FFFFFF;
    position: absolute;
    bottom: 5px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Optional background for text visibility */
    padding: 5px; /* Optional padding for better text readability */
}

.timeline-image {
    width: 100%;
    height: auto;
    border-radius: 15px; /* Optional: to match the styling */
}

.timeline-content h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
    margin:auto;
}

blockquote {
    text-align: justify;
}

.date {
    background: #FF4081;
    display: inline-block;
    color: #FFFFFF;
    padding: 8px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius:10px ;
}


.card-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
}

.card-buttons .btn {
    margin-right: 10px;
}

.card-buttons .btn:last-child {
    margin-right: 0;
}

@media screen and (max-width: 768px) {
    .timeline::before {
        left: 50px;
    }

    .timeline .timeline-img {
        left: 50px;
    }

    .timeline .timeline-content {
        min-width: 300px;
        width: 60%;
        margin-left: 70px;
    }

    .timeline .timeline-item:nth-child(even) .timeline-content {
        float: none;
    }

    .timeline .timeline-item:nth-child(odd) .timeline-content::after {
        content: "";
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent #f5f5f5 transparent transparent;
    }

    .date {
        right: auto;
        left: 0;
    }
}

.timeline-text {
    margin: 15px;
    
    
}
.timeline-title{
    text-align: center;
    margin:100px ;
    
    
}



.container1 {
    background: #00ff62;
}

/* falling leaves modified for about page */
#falling-leaves {
    position: relative;
    overflow: visible;
    z-index: 0;
    overflow: hidden;
}

#leaves-container {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    top: 0;
    left: 0;
    overflow: hidden;
}

.leaf {
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 0;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    animation: fall linear infinite;
    overflow: hidden;
}

@keyframes fall {
    0% {
        background-color: #7e5fe6;
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        background-color: #7e5fe6;
        transform: translateY(100vh);
        opacity: 1;
    }
}
.quoteabout{
    font-size:larger;
}

footer {
    position:fixed; /* or relative, absolute, etc. */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    
    
    text-align: center;
}
