/* body {
    background:url(433787637_7421915634558024_7498531986906054790_n.jpg) ;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

} */

/* Style the top menubar */
.menubar {
    
    background-color: #333;
    opacity:75% ;
    float: left;
    position: fixed;
    
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Style the menubar links */
  .menubar a {
    float: left;
    display: block;
    color: #3bfb00;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    
    
    
  }
  
  /* Change color on hover */
  .menubar a:hover {
    background-color: #0cf900;
    color: rgb(34, 227, 16);
    
  }


.welcome-sec {
    float:none;
    position: absolute;
    left: 50%;
    color:rgb(0, 0, 0);
    font-size:50px;

}