/* body {
    background:url(433787637_7421915634558024_7498531986906054790_n.jpg) ;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

} */

body {
  margin: 0;
  
}

@keyframes jump {
  0% { transform: translateY(0) scale(1);  }
  50% { transform: translateY(-5px) scale(1.1);  }
  100% { transform: translateY(0) scale(1); }
}

.animate {
  display: inline-block;
  animation: jump 1s infinite;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 600;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.source-code-pro-p {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.name-left{
  margin-left: -300px;
}

.name-right{
  margin-right: -300px;
}






#falling-leaves {
  position: relative;
  /* height: 100vh; */
  /* background-color: #87CEEB;
  overflow: hidden; */
}

#leaves-container {
  position: relative;
 
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.leaf {
  
  position: absolute;
  width: 20px;
  height: 20px;
  top:-50x;
  
  
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
      background-color: #00ff05;
      transform: translateY(-100px);
      opacity: 0;
  }
  100% {
      background-color: #00ff05; 

      transform: translateY(100vh);
      opacity: 1;
  }
} 



.menubar {
    
    background-color: #333;
    opacity:75% ;
    float: left;
    position: fixed;
    
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Style the menubar links */
  .menubar a {
    float: left;
    display: block;
    color: #3bfb00;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    
    
    
  }
  
  /* Change color on hover */
  .menubar a:hover {
    background-color: #0cf900;
    color: rgb(34, 227, 16);
    
  }


.welcome-sec {
    float:none;
    position: absolute;
    left: 50%;
    color:rgb(0, 0, 0);
    font-size:50px;

}

.headline { 
  font-size: 70px; 
  
  align-items: start;
  padding-left: 200px;
}
.name-text{
  font-size: 60px;
  text-indent: 10%;
}

.hero {
  width: 400px;
  height: auto;
  text-align: center;
  /* display: flex;
  flex-direction: column; */
  
  /* left: 50%; Remove this line */
  display: block; /* Set the image as a block element */
  margin: 0 auto; /* Center horizontally */
  margin-top: -100px;
  
}

#about-card {
  width: 32rem;
  align-items: end;
  margin-right: 80px;

  

}

#herofull {
  width: 300px;
  height: auto;
  margin-left: 80px;
  margin-top: -100px;
  
}
#contpic{
  position: relative;
  width: 300px;
  height: auto;
  float:right;
  
}



.card-img-top{
  max-width: 150px;
  max-height: 200px;
  margin: auto;
  margin-top: 5px;
}

.card {
  border: 2px solid #05ff00d2; /* Add 'solid' for the border style */
  border-radius: 2px;

  
  
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2); 
   
   
  backdrop-filter: blur(14px); 
  background-color: rgba(255, 255, 255, 0.2); 
  
}

#contform{
  position: relative;
  max-width: fit-content;
  float:none;

   
  
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2); 
   
   
  backdrop-filter: blur(14px); 
  background-color: rgba(255, 255, 255, 0.2); 
  
  

}







#home {
  background-color: null;
  margin-top: 0%;
  margin-left: 0%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  
 

}


#about {
  background-color: #05ff00d2;
  color:#00000078;
}


#services {
  background-color: black;
  color: #ffffff;
}


#projects {
  background-color: #ffffff;
}


#contact{
  background-color: #05ff00d2;
  

}
#welcome-image{
  max-height:400px;
  max-width:1000px;
}
#welcome{
  background-color: black;
  color:#7c7b76;
}




/* h1, h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
} */

.navbar {
  background-color: #ffffff;
  padding: 10px 20px ;
  margin-bottom: -20px;
  
  
  
}
.navbar-brand img {
  max-height: 30px; /* Adjust the logo height */
}

.navbar-nav .nav-link {
  color: #000000;
  padding: .5px .5px;
  
  

}

.nav-link:hover {
  color: #00ff3cca; 
  background-color: #15ff008f; /* Background color on hover */
  border-radius: 5px;  /* Add a slight border radius for a softer look */
  margin-left: -.5px;  /* Create left margin for visible expansion */
  margin-right: -.5px; /* Create right margin for visible expansion */
}



.card-title{
  text-align: center;
}
.card-img-top{
  border-radius: 20px;

}

.form-group{
  align-items: center;
  justify-content: center;
}
.left-container{
  float: left;
  max-width: 50%;

}
.right-container{
  float: right;
  max-width: 50%;
  
}
.img-contact{
  width: 400px;
  height: auto;
  text-align: center;
  /* display: flex;
  flex-direction: column; */
  
  /* left: 50%; Remove this line */
  display: block; /* Set the image as a block element */
  margin-bottom: 100px; 
}







/* dark modee */

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}



.toggle-switch {
  position:sticky;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  float: right;
  
}

.toggle-switch::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.dark-mode .toggle-switch {
  background-color: #4b4b4b;
}

.dark-mode .toggle-switch::before {
  transform: translateX(30px);
}